.main-container{
    background-color: rgb(228, 228, 228);
    max-width: 1800px;
    width: calc(100% - clamp(2rem, 8vw, 10rem));

    
    margin: clamp(1rem, 4vw, 5rem) auto;

    display: flex;
    gap: 2px;
    flex-direction: row;
    
    min-height: calc(100vh - 10rem);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(0, 0, 0, 0.06);
}

.article-upload-container {
    background-color: rgb(245, 245, 245);
    width: 25%;   
    padding: 1rem;

}

.article-upload-header {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    gap: 0.75rem;
    margin-bottom: 1.5rem;   
}


.upload-files{
    display: flex;
    
}

.contributions-results-container{
    background-color: rgb(245, 245, 245);
    width: 75%;
    padding: 1rem;

}

.separator-line{
    background-color: rgb(228, 228, 228);
    height: 2px;
}

.contributions-header{
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    align-items: center;
}

.title-contributions-header{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
}

.title-contributions-text{
    font-weight: 100;
}
.results{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-filename-header {
    max-width: 400px; 
    display: flex;
    align-items: center;
    /* font-size: clamp(0.75rem, 1.5vw, 1rem); */
    padding: .45rem .25rem;
    margin: 0.25rem 0;
    transition: background-color 0.05s ease;
    transition: transform 0.2s ease;
    border-radius: 5px;
    /* background-color: rgba(228, 228, 228, 0.315); */
}

.article-filename-header:hover{
    cursor: pointer;
    background-color: rgb(206, 219, 224);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(0, 0, 0, 0.06);
    transform: translateY(-2px);
}

.article-filename-header span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.file-svg {
    flex-shrink: 0;
}

.none-found{
    color:rgb(212, 58, 58);
    text-align: right;

}

.contributions{
    max-width: 450px;
    /* overflow: hidden; */
    text-align: right;

}

@media (max-width: 550px) {
    .article-upload-header{
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    .contributions-header{
        flex-direction: column;
    }
}

/* @media (max-width: 800px) {
    .results{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} */